@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for IE, Edge */
body {
  -ms-overflow-style: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none;
}